.profile {
  padding: 42px 0 50px;
  display: flex;
  gap: 26px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 2 * 200px);
}

@media screen and (max-width: 1024px) {
  .profile {
    width: calc(100% - 2 * 72px);
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 425px) {
  .profile {
    width: 100%;
    padding: 0 19px;
    padding-bottom: 36px;
    max-width: 282px;
    margin-top: 38.25px;
    /* width: calc(100% - 2 * 19px); */
  }
}